.anim-forth {
    transition: 3s ease;
    transform: translate(125%, 0);
}


.anim-back {
    transition: 3s ease;
    transform: translate(-125%, 0);
}

.anim-mid {
    transition: 2s ease;
    transform: translate(0, 0);
}
