@charset "UTF-8";
.container-fluid,
.container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.container {
  max-width: 75rem; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

[class*="col-"] {
  box-sizing: border-box;
  position: relative; }

.col-1 {
  width: 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  width: 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  width: 25%;
  max-width: 25%; }

.col-4 {
  width: 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  width: 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  width: 50%;
  max-width: 50%; }

.col-7 {
  width: 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  width: 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  width: 75%;
  max-width: 75%; }

.col-10 {
  width: 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  width: 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  width: 100%;
  max-width: 100%; }

@media (min-width: 30rem) {
  .col-sm-1 {
    width: 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    width: 25%;
    max-width: 25%; }
  .col-sm-4 {
    width: 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    width: 50%;
    max-width: 50%; }
  .col-sm-7 {
    width: 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    width: 75%;
    max-width: 75%; }
  .col-sm-10 {
    width: 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    width: 100%;
    max-width: 100%; } }

@media (min-width: 48rem) {
  .col-md-1 {
    width: 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    width: 25%;
    max-width: 25%; }
  .col-md-4 {
    width: 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    width: 50%;
    max-width: 50%; }
  .col-md-7 {
    width: 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    width: 75%;
    max-width: 75%; }
  .col-md-10 {
    width: 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    width: 100%;
    max-width: 100%; } }

@media (min-width: 62rem) {
  .col-lg-1 {
    width: 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    width: 25%;
    max-width: 25%; }
  .col-lg-4 {
    width: 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    width: 50%;
    max-width: 50%; }
  .col-lg-7 {
    width: 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    width: 75%;
    max-width: 75%; }
  .col-lg-10 {
    width: 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    width: 100%;
    max-width: 100%; } }

@media (min-width: 75rem) {
  .col-xl-1 {
    width: 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    width: 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    width: 25%;
    max-width: 25%; }
  .col-xl-4 {
    width: 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    width: 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    width: 50%;
    max-width: 50%; }
  .col-xl-7 {
    width: 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    width: 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    width: 75%;
    max-width: 75%; }
  .col-xl-10 {
    width: 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    width: 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    width: 100%;
    max-width: 100%; } }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  text-decoration: none;
  outline: none; }

button {
  outline: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

main nav {
  color: #DDD;
  background-color: #4F4F4F; }

.nav-tab-item {
  color: #DDD; }

.image-wrapper img,
.image-wrapper::after,
.image-wrapper {
  height: 720px;
  transition: transform 0.5s;
  width: 540px; }

.image-wrapper {
  height: 720px; }

.image-wrapper img {
  min-height: 720px;
  min-width: 540px;
  z-index: 80;
  position: relative; }

.image-wrapper::after {
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  display: block; }

.image-background--steel::after {
  background-image: url("../../img/steel.jpg");
  transform: translate(54px, 54px); }

.image-background--steel:hover.image-wrapper img {
  transform: translate(27px, 27px); }

.image-background--steel:hover.image-wrapper::after {
  transform: translate(-27px, -27px); }

.image-background--copper::after {
  background-image: url("../../img/copper.jpg");
  transform: translate(-54px, -54px); }

.image-background--copper:hover.image-wrapper img {
  transform: translate(-27px, -27px); }

.image-background--copper:hover.image-wrapper::after {
  transform: translate(27px, 27px); }

/* ta klasa informuje, że element jest widoczny wyłącznie na ekranach o szerokości conajmniej 768px */
.visible-md {
  color: blue; }

h2 {
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000; }

body {
  background: #3F3F3F;
  color: #DDD; }

.welcome-text {
  color: #DDD;
  text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000; }
