 //styles scss to uzupełnienie głównych styli strony o 
// wykorzystanie zmiennych i innych
//dodatkowych właściwości 
// scss'a



@import 'vars';
@import 'grid';
@import 'reset';
@import 'navbar/navbar';
@import 'components/image';
@import 'components/modal';


h2{
    text-shadow: $text-outline;
}

body{
    background: $background-dark;
    color: $light;
}
//dodaje wysokosc do sekcji w zaleznosci od nav-height
section{
    height: calc(100vh + #{$nav-height});
}


.welcome-text{
    color: $light;
    text-shadow: $text-outline;
}




