 //styles scss to uzupełnienie głównych styli strony o 
// wykorzystanie zmiennych i innych
//dodatkowych właściwości 
// scss'a



@import 'vars';
@import 'grid';
@import 'reset';
@import 'navbar/navbar';
@import 'components/image';


/* ta klasa informuje, że element jest widoczny wyłącznie na ekranach o szerokości conajmniej 768px */
.visible-md{
    color: blue; //tymczasowo
}

h2{
    text-shadow: $text-outline;
}

body{
    background: $background-dark;
    color: $light;
}



.welcome-text{
    color: $light;
    text-shadow: $text-outline;
}


