// Kolory 
$primary: #F2994A;
$light: #DDD;
$background-dark:  #3F3F3F;

//kolor nawigacji
$nav-dark: #4F4F4F;

//Text shadow
$text-outline: 1px 0 0 #000,
-1px 0 0 #000,
0 1px 0 #000,
0 -1px 0 #000;

//transition:

$transition-duration: .5s;
