/* tu będą style pisnaie wyłacznie w css'ie */
body {
    /*
 czyszczenie marginesow w reset.scss
background: w style.css */
    font-family: 'Jost', sans-serif;
}

/*Najpierw opisuje powtarzające się wielokrotnie elementy na stronie, które mają wspólne style */
section {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

h2 {
    height: 120px;
    line-height: 120px;
    font-size: 64px;
    position: relative;
    z-index: 80;
}

.headline-background--copper::before{
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('img/copper.jpg');
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 120px;
    width: 200px;
    z-index: -1;
}

p{
    font-size: 24px;
    width: 465px; /* jak to wymierzyłem, nie wiem */
}



/*W tym miejscu zaczynają się style dla pojedynczych elementów i sekcji na stronie */
main {
    margin-bottom: 500px;
    /*tymczasowo */
    height: 100vh;
    position: relative;
    z-index: 90;
}

main nav {
    /* background: */
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 5rem;
    text-transform: uppercase;
    font-size: 24px;
    z-index: 100;

}

main nav .brand-name-wrapper {
    height: 100%;
}

main nav .brand-name {
    /* text-shadow:  */
    display: flex;
    align-items: center;
    height: inherit;
    background-image: url('img/copper.jpg');
    margin-left: 12.5rem;
    margin-right: 3rem;
    padding: 0 1rem;
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: none;
    color: white;
}

main nav .nav-tabs {

    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

main nav .nav-tabs .nav-tab-item {
    margin: 0 .5rem;
}


.welcome-text {

    /* color
    tetx-shadow */
    margin-left: 12.5rem;
    position: absolute;
    top: 144px;
    /*64 px od dolnej krawedzi navbaru */
    z-index: 99;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

.main-image {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 95;
    transform: translateX(-50%);
}
#service ol {
    list-style: decimal;
    width: 465px;
}


#contact{
    flex-direction: column;
    align-items: unset;
}

#contact footer{
    position: absolute;
    bottom: 0;
}