/* tu będą style pisnaie wyłacznie w css'ie */
body {
    /*
 czyszczenie marginesow w reset.scss
background: w style.css */
    font-family: 'Jost', sans-serif;
    overflow-x: hidden;
}

/*Najpierw opisuje powtarzające się wielokrotnie elementy na stronie, które mają wspólne style */
section {
    display: flex;
    align-items: center;
    position: relative;
}

h2 {
    height: 120px;
    line-height: 120px;
    font-size: 64px;
    position: relative;
    z-index: 80;
}

h2::before {
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -16px;
    left: 0;
    display: block;
    height: 120px;
    width: 200px;
    z-index: -1;
    transition: 1s cubic-bezier(.39, .06, .14, .96);
}

.headline-background--copper::before {

    background-image: url('img/copper.jpg');
}

.headline-background--steel::before {
    background-image: url('img/steel.jpg');
}

h2:hover::before {
    transform: translateX(100%);

}

p {
    font-size: 24px;
   
}



/*W tym miejscu zaczynają się style dla pojedynczych elementów i sekcji na stronie */
main {
    position: relative;
    z-index: 90;
    height: auto;
}

.welcome-text {

    /* color
    tetx-shadow */
    margin-left: 12.5rem;
    position: absolute;
    top: 144px;
    /*64 px od dolnej krawedzi navbaru */
    z-index: 99;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

.main-image {
    width: 80vw;
    display: flex;
    margin: 0 auto;
    padding-top: 5rem;
    
}

.wind-container{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
}

.wind-container img{
    width: 25%;
}

#service ol {
    list-style: decimal;
    /* width: 465px; */
    font-size: 24px;
}


#contact {
    flex-direction: column;
    /*justify content jako główna oś wyznaczona przez flex-direction: column; 
    space around odsuwa stopkę na sam dół a kontakt niżej niż górna część sekcji 
    */
    justify-content: space-around; 
}

#contact footer {
    position: absolute;
    bottom: 0;
}

#contact footer p{
    display: inline-block;
}





@media (max-width: 767px) {

    .welcome-text{
        margin-left: 1rem;
        font-size: 2rem;
    }

    main nav .brand-name{
        margin-left: 1rem;
        white-space: nowrap;
    }

}

@media (max-width: 479px){

    label[for="collapse"]{
        display: none;
    }

}
